<%- include('../../partials/header'); -%>

    <div class="container">

        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to campgrounds page</h1>
                <p>view our hand-pickes campgrounds from all over the world</p>
                <a href="campgrounds/new" class="btn btn-primary btn-large">add more camoground</a>
            </div>
        </header>
    
    <div class="row" style="display: flex; flex-wrap: wrap;text-align: center;">  
        <% cg.forEach(function(campground){ %>
        <div class="col-md-3  col-sm-6" >
            <div class="img-thumbnail">
                <img src="<%= campground.image %>" alt="" style="width: 100%;">
                <div class="caption">
                    <p><%= campground.name %></p>
                </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">more info</a></a>
                    </p>               
            </div>
        </div>
        <% }) %>
    </div>      

    </div>
</body>
</html>    